h3{
    color: beige;
    position: static;
    left: 66px;
    padding-left: 40px;
    top: 1px;
    font-size: 60px;

}
.glass
{
    padding-left: 100px;

   /* text-align: 100px;*/
    ;
}
.cup
{
    margin-top: 1px;
    margin-left: 100px;
    margin-bottom: 40px;
    width: 500px;
    border-style: groove;
    border-color: blue;

    
}
body 
{
    background-image: url(666.jfif);
    /*opacity:0.5; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}